//set font
$font-size-primary: 16px;
$font-weight-primary: 400;
$font-primary: "Poppins", sans-serif;
$header-height: 104px;
//set color
$black-color: #000000;
$white-color: #ffffff;
$green-color: #30be96;
$red-color: #ff0050;
$orange-color: #ff4a00;
$green-yellow-color: #d6ff7f;
$blue-color: #0b63f6;
$success-color: #00b517;
$bg-body: #f6f7f9;
$eee: #eeeeee;
$ddd: #dddddd;
$ccc: #cccccc;
